{{> head }}

{{> navbar }}

<div class="container">
    <vid class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/hulk.png" class="card-img-top" alt="Esto no es git">
                <div class="card-body">
                    <h5 class="card-title">Aprendiendo Node JS</h5>
                    <p class="card-text">Mi nombre es Rafael Munoz Perez<br>Estoy descubriendo el mundo de Node JS </p>
                    <a href="#" class="btn btn-primary">Aprende</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/capitan-america.png" class="card-img-top" alt="Esto no es git">
                <div class="card-body">
                    <h5 class="card-title">Aprendiendo Node JS</h5>
                    <p class="card-text">Mi nombre es Rafael Munoz Perez<br>Estoy descubriendo el mundo de Node JS </p>
                    <a href="#" class="btn btn-primary">Aprende</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/flash.png" class="card-img-top" alt="Esto no es git">
                <div class="card-body">
                    <h5 class="card-title">Aprendiendo Node JS</h5>
                    <p class="card-text">Mi nombre es Rafael Munoz Perez<br>Estoy descubriendo el mundo de Node JS </p>
                    <a href="#" class="btn btn-primary">Aprende</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/deadpool.png" class="card-img-top" alt="Esto no es git">
                <div class="card-body">
                    <h5 class="card-title">Aprendiendo Node JS</h5>
                    <p class="card-text">Mi nombre es Rafael Munoz Perez<br>Estoy descubriendo el mundo de Node JS </p>
                    <a href="#" class="btn btn-primary">Aprende</a>
                </div>
            </div>
        </div>
    </vid>

</div>

{{> footer}}